name: Tests
on:
  pull_request_target:
  push:
    branches:
      - main

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    environment: staging
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - run: npm ci
    - run: npm run build
    - run: npm test
    - run: npm run test:gen-cov
    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@v4.0.1
      with:
        directory: ./coverage
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: slackapi/slack-health-score
    - name: Yo dawg I heard you like healthscores so I healthscored your healthscore so you can healthscore while you healthscore
      uses: ./
      with:
        codecov_token: ${{ secrets.FILS_CODECOV_API_TOKEN }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        extension: js
        include: src
        max_attempts: 10
        retry_delay: 10000
        treat_timeout_as_error: true
