name: Tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - run: npm ci
      - run: npm run build
      - run: npm test
      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          directory: ./coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: slackapi/slack-health-score

  health-score:
    needs: unit_tests
    permissions:
      checks: write
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - run: npm ci
      - run: npm run build
      - name: Yo dawg I heard you like healthscores so I healthscored your healthscore so you can healthscore while you healthscore
        uses: ./
        with:
          codecov_token: ${{ secrets.FILS_CODECOV_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          extension: js
          include: src
          codecov_max_attempts: 10
          codecov_retry_delay: 10000
          codecov_treat_timeout_as_error: true
