name: Tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: npm ci
      - run: npm run build
      - run: npm test
      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          directory: ./coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: slackapi/slack-health-score

  health-score:
    needs: unit_tests
    permissions:
      checks: write
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: npm ci
      - run: npm run build
      - name: Yo dawg I heard you like healthscores so I healthscored your healthscore so you can healthscore while you healthscore
        uses: ./
        with:
          codecov_token: ${{ secrets.FILS_CODECOV_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          extension: js
          include: src
          codecov_max_attempts: 10
          codecov_retry_delay: 10000
          codecov_treat_timeout_as_error: true
