name: Local run

# Requires mocking the "public" event to begin this workflow and avoid actual runs
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
on:
  public:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        uses: actions/checkout@v4
      - name: Build action
        run: npm ci
      - name: Healthscore the healthscore
        id: slack-health-score
        uses: ./.
        with:
          github_token: garbage
          extension: js
          include: src
